<section class="hero-unit"
  {% if section.settings.image %}
    style="background-image: url('{{ section.settings.image | img_url: 'master' }}');"
  {% endif %}
  >
  <div class="overlay"></div>
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-left">
      <div class="cell">
        
        {% if section.settings.hero_unit_headline != blank %}
          <h2 class="headline"> {{ section.settings.hero_unit_headline }} </h2>
        {% endif %}

        {% if section.settings.hero_unit_text != blank %}
          <div class="text"> {{ section.settings.hero_unit_text }} </div>
        {% endif %}

        {% if section.settings.hero_unit_button_link != blank %}
          <a href="{{ section.settings.hero_unit_button_link }}" class="button square"> {{ section.settings.hero_unit_button_text }} </a>
        {% endif %}  
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name" : "Hero Unit",
    "settings" : [
      {
        "id" : "image",
        "type" : "image_picker",
        "label" : "Upload background image"
      },
      {
        "id" : "hero_unit_headline",
        "type" : "text",
        "label" : "heading",
        "default" : "Title"
      },
      {
        "id" : "hero_unit_text",
        "type" : "richtext",
        "label" : "Add your text below",
        "default" : "<p>Your text here</p>"
      },
      {
        "id" : "hero_unit_button_text",
        "type" : "text",
        "label" : "button",
        "default" : "Button Text"
      },
      {
        "id" : "hero_unit_button_link",
        "type" : "url",
        "label" : "link"
      }
    ],
    "presets": [
      {
        "category": "Dynamic Sections",
        "name":"Hero Unit"
      }
    ]
  }
{% endschema %}