
<h1>{{ collection.title }}</h1>
{% for product in collection.products%}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
    <div class="image-swap">
      <img src="{{ product.featured_image.src | img_url: '600x600' }}" alt="{{ product.featured_image.alt | escape }}">
      <img class="hidden" src="{{ product.images[1] | img_url: '600x600' }}" alt="{{ product.images.last.alt | escape }}" />
    </div>
    </a>
  </div>
{% else %}
  <p>no matches</p>
{% endfor %}
